*.pyc
results/
build/
dist/
todo.txt
update.py
*.egg-info
*.idea
.DS_Store
to_update_instr.txt
examples/blank_example.py
simple_rl/tasks/FetchPOMDP/venv
simple_rl/tasks/FetchPOMDP/build
simple_rl/tasks/FetchPOMDP/_pychache_
simple_rl/tasks/FetchPOMDP/.idea
simple_rl/tasks/FetchPOMDP/FetchPOMDP trials
simple_rl/tasks/FetchPOMDP/FetchPOMDP*
